* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5em;    
}

h1 {
    font-size: 5.2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}
.container-fluid {
    padding: 0;
}
.darkbg {
    background-color: #111;
    color: #fff;
}

.title {
    margin-bottom: 60px;
}

.big {
    font-size: 1.5em;
}

.services,
.skills,
.contact {
    margin: 120px auto;
}

.portefolio,
.certs {
    padding: 120px 0;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav a{
    color: white;
    background-color: inherit;
    font-size: 20px;
}
nav a:hover {
    background-color: #4285f4;
    color: white;
}
header {
    width: 100vh;
    height: 100vh;
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    background-color: transparent;
}

header p {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 2rem;
}

header section {
    width: 100%;
    height: 100%;

}

header h1,
header p {
    text-align: center;
}

.services p {
    margin-bottom: 40px;
}

.portefolio .col-md-12 {
    padding: 15px;
}

.portefolio .col-md-6 {
    padding: 0;
}

.skills img {
    margin-right: 15px;
}

.skills .col-md-12 {
    margin-bottom: 25px;
    left: 25%;
}

.skills img {
    max-width: 15%;
}

.certs img {
    max-width: 35%;
    margin-right: 15px;
}

.certs .col-md-12 {
    margin-bottom: 15px;
}
.contact .btn {
    margin-bottom: 40px;
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 4.2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }
    header p {
        font-size: 1.7em;
    }
    .skills .col-md-12 {
    margin-bottom: 25px;
    left: 20%;
    }

}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }
    header p {
        font-size: 1.7em;
    }
    .skills .col-md-12 {
    margin-bottom: 25px;
    left: 27%;
    }

}
@media screen and (max-width: 550px) {
    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }
    header p {
        font-size: 1.5em;
    }
    nav {
        display: none;
    }
    .skills .col-md-12 {
    margin-bottom: 25px;
    left: 25%;
    }

}
@media screen and (max-width: 380px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }
    header p {
        font-size: 1.7em;
    }
    .skills .col-md-12 {
    margin-bottom: 25px;
    left: 20%;
    }

}
